@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  margin: 0 auto;
  color: #555;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

.navbar-form {
    margin-right: 0px;
}

header {
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

h2, h4 {
  margin-top: 1em;
  padding-top: 1em;
}

h4 {
  line-height: 1.5;
}

h1, h2, strong {
  color: #333;
}

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.search-div {
    width: 100%;
    margin-bottom: 60px;
}

.search-inside-div {
    text-align: center;
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    padding-bottom: 40px;
}

.search-select {
    margin-top: 2em;
    text-align: left;
}

#header-thanks {
    margin-bottom: 0;
    font-size: 8rem;
    color: white;
}

#header-details {
    font-size: 3rem;
    font-weight: 100;
    color: white;
}

.selectize-control.repositories .selectize-dropdown > div {
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

.selectize-control.repositories .selectize-dropdown .by {
    font-size: 12px;
    opacity: 0.8;
}

.selectize-control.repositories .selectize-dropdown .by::before {
    content: 'by ';
}

.selectize-control.repositories .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}

.selectize-control.repositories .selectize-dropdown .title {
    display: block;
}

.selectize-control.repositories .selectize-dropdown .description {
    font-size: 16px;
    display: block;
    color: #a0a0a0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selectize-control.repositories .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.selectize-control.repositories .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}

.selectize-control.repositories .selectize-dropdown .meta li span {
    font-weight: bold;
}

.selectize-control.repositories::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 10px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(../imgs/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.selectize-control.repositories.loading::before {
    opacity: 0.4;
}

.navbar {
    margin-bottom: 0px;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: 16px 16px;
    margin: 0 3px 0 0;
}

.icon.fork {
    background-image: url(../imgs/repo-fork.png);
}

.icon.source {
    background-image: url(../imgs/repo-source.png);
}

.selectize-dropdown-content {
    max-height: 400px;    
}

.search-col {
    margin-top: 3em;
}

.form-group, .select-div {
    width: 300px;
}

.navbar-default {
    background-color: white;
}


.say-thank-title {
    font-size: 4rem;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.editor-title-span {
    word-wrap: break-word;
}

.say-thank-content {
    margin-bottom: 20px;
}

.say-thank-details {
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
    color: gray;
}

#thanks-svg {
    width: 60%;
}

.footer-div {
    text-align: center;
}

#why-h1-span {
    text-align: center;
}

.editor-title-div {
    text-align: center;
}

.editor-title-span {
    font-size: 4rem;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
}

.editor-wrapper-div {
    margin-bottom: 30px;
    overflow: hidden;
}

.ql-container {
    font-size: 20px;
}

.ql-editor {
    font-size: 2rem;
    padding-bottom: 0px !important;
}

.editor-row {
    margin: 0 auto;
}

.editor-likes-count {
    font-size: 2rem;
}

.editor-name-span {
    font-size: 2rem;
    color: gray;
    font-weight: 100;
}
.editor-name-div{
    float: right;
}

.editor-likes-i {
    margin-right: 10px;
}

.editor-likes-i:hover {
    cursor: pointer;
}

.nav-write-btn, .nav-browse-btn {
}

#select-thanks > .selectize-dropdown, .selectize-input, .selectize-input input {
    line-height: 22px;
}

.nav-btn-span {
    margin-left: 10px;
}

.say-thank-div {
    overflow: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.say-thank-row {
    margin-right: 0px;
}

.say-thank-span {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.recommend-title {
    font-size: 20px;
}

#list-btn-w {
	border: 3px solid #337ab7;
    border-radius: 10px;
    margin-bottom: 80px;
}


.list-btn-write {
    border-radius: 10px;
	color: #fff;
    font-size: 1.5rem;
	overflow: hidden;
    width: 100%;
    border: none;
	font-family: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#list-btn-w:hover {
    background-color: #337ab7;
    color: white;
}

.why-href {
    font-size: 2rem;
}

#logo-t {
    font-weight: bold;
}

#submit-btn {
    border: 3px solid #337ab7;
    border-radius: 10px;
    background-color: white;
    color: #337ab7;
}

.selectize-input:after {
    border-style: none !important;
}

.fa-heart {
    color: #e6563a;
}

.fa-twitter {
    color: #009ef6;
}
