.front-btn-div {
    margin-top: 20px;
    text-align: left;
}

.front-btn {
	color: #fff;
    font-size: 1.5vw;
	overflow: hidden;
    max-width: 100%;
	background: none;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.front-btn:hover {
    background-color: #32789b;
    color: white;
}

.front-btn-write, .front-btn-browse {
    background-color: transparent;
	border: none;
}

.author {
    color: gray;
}

.repo-name {
    font-size: 1.5vw;
}

#front-btn-w, #front-btn-b {
    display: inline-block;
    border: 3px solid #fff;
	border-radius: 10px;
    text-align: center;
}

.ql-toolbar {
    display: none;
}

.ql-container.ql-snow {
    border: 0px;
}

.intro-img {
    width: 25%;
}

.intro {
    text-align: center;
    margin-bottom: 6rem;
}

.intro-span-title {
    font-size: 2vw;
}

.intro-span-p {
    font-size: 1.8vw;
    font-weight
}

@media only screen and (max-width: 767px) {
    .intro-span-title {
        font-size: 4vw;
    }
}
