.ql-toolbar {
    display: none;
}

.ql-container.ql-snow {
    border: 0px;
}

.editor-row {
    min-height: 600px;
}

#editor {
    margin-bottom: 100px;
}

.twitter-hashtag {
    text-align: center;
}
