.ql-toolbar {
    display: none;
}

.ql-container.ql-snow {
    border: 0px;
}

.editor-title-div {
    text-align: center;
}

.editor-title-span {
    font-size: 3.5vw;
    font-weight: bold;
    background-image: linear-gradient(to top, gray 0%, black 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.editor-wrapper-div {
    margin-bottom: 100px;
}

.editor-row {
    margin: 0 auto;
}

.editor-name-span {
    font-size: 1.5vw;
    color: gray;
    font-weight: 100;
}

.say-thank-content {
    margin-bottom: 20px;
}

.editor-likes-i {
    margin-right: 10px;
}

.editor-likes-i:hover {
    cursor: pointer;
}

#thanks-svg {
    width: 300px;
}

.slider-div {
    margin-top: 20px;
    margin-bottom: 60px;
}

.slider-title, .slider-footer {
    text-align: center;
}


.slider-inside-div {
    background: #f2f2f2;
    line-height:100px;
    margin:10px;
    padding:2%;
    min-height: 200px !important;
    position:relative;
}
