.ql-toolbar {
    display: none;
}

.ql-container.ql-snow {
    border: 0px;
}

.slider-div {
    margin-top: 20px;
    margin-bottom: 60px;
}

.slider-title, .slider-footer {
    text-align: center;
}


.slider-inside-div {
    background: #f2f2f2;
    line-height:100px;
    margin:10px;
    padding:2%;
    min-height: 150px !important;
    position:relative;
}

#list-btn-w {
	border: 3px solid #337ab7;
    border-radius: 10px;
    margin-bottom: 80px;
}

.list-btn-write {
    border-radius: 10px;
	color: #fff;
    font-size: 2vw;
	overflow: hidden;
    width: 100%;
    border: none;
	font-family: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#list-btn-w:hover {
    background-color: #337ab7;
    color: white;
}

.slider-footer-a {
    display: inline-block;
}

.slider-footer-p {
    color: #555;
}
