.ql-toolbar {
    display: none;
}

.ql-container.ql-snow {
    border: 0px;
}

.slider-div {
    margin-top: 20px;
    margin-bottom: 60px;
}

.slider-title, .slider-footer {
    text-align: center;
}


.slider-inside-div {
    background: #f2f2f2;
    line-height:100px;
    margin:10px;
    padding:2%;
    min-height: 200px !important;
    position:relative;
}

.slider-footer-a {
    display: inline-block;
}

.slider-footer-p {
    color: #555;
}
