.clear {
    clear: both;
}
.say-thank-div {
    overflow: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.say-thank-row {
    margin-right: 0px;
}

.say-thank-span {
    display: block;
    font-size: 7vw;
    font-weight: 500;
    background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.say-thank-title {
    font-size: 4.5vw;
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 20px;
}

#editor {
    height: 500px;
    margin-bottom: 40px;
}

#editor-div {
    margin: 0 auto;
}

.ql-container {
    font-size: 20px;
}

.recommend-div {
    margin-bottom: 40px;
}

.recommend-signature {
    margin-bottom: 40px;
}


.form-control, .recommend-title {
    height: 45px;
}

#recommend-label {
    display: inline;
    margin-left: 5px;
}

#signature-img {
    max-width: 100%;
}

#signature-img {
    margin-bottom: 10px;
}

.say-thank-bottom {
    margin-bottom: 80px;
}

.editor-title {
    margin-bottom: 20px;
}

.say-thank-details {
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
    color: gray;
}

.editor-likes-count {
    font-size: 1.5vw;
}
