.clear {
    clear: both;
}

#editor {
    height: 500px;
    margin-bottom: 40px;
}

#editor-div {
    margin: 0 auto;
}

.recommend-div {
    margin-bottom: 40px;
}

.recommend-signature {
    margin-bottom: 40px;
}


.form-control, .recommend-title {
    height: 45px;
}

#recommend-label {
    display: inline;
    margin-left: 5px;
}

#signature-img {
    max-width: 100%;
}

#signature-img {
    margin-bottom: 10px;
}

.say-thank-bottom {
    margin-bottom: 80px;
}

.editor-title {
    margin-bottom: 20px;
}

.letter-count {
    font-size: 1.5vw;
    color: #23527c;
}
