{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block styles %}
    <link rel="shortcut icon" href="{% static 'imgs/heart.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/css_lib/nromalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/selectize.bootstrap3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_lib/quill.snow.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}{% endblock %}
    </title>
    {% if not debug %}
    <script>
    </script>
    {% endif %}
  </head>

  {% block header %}
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" id="logo-t" href="/">TY</a>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <select id="select-nav" class="repositories" placeholder="Type in a repository..."></select>
          </div> <!-- end form-group -->
          <span class="nav-btn-span">
            <a href="" class="btn btn-default nav-btn nav-write-btn" role="button">WRITE</a>
            <a href="" class="btn btn-default nav-btn nav-browse-btn" role="button">BROWSE</a>
          </span>
        </form>
      </div> <!--end navbar-header-->
      <ul class="nav navbar-nav pull-right">
        <li>
          <a target="_blank" href="https://twitter.com/tyopensource"><i class="fa fa-2x fa-twitter"></i> Follow on Twitter</a>
        </li>
      </ul>
    </div><!-- .container-fluid -->
  </nav>
  {% endblock %}

  {% block nav %}

  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
  <script src="{% static 'js/js_lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
  <script src="{% static 'js/js_lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/js_lib/quill.min.js' %}"></script>
  <script>
      $('#select-nav').selectize({
          valueField: 'url',
          labelField: 'name',
          searchField: 'name',
          options: [],
          create: false,
          render: {
              item: function(item, escape) {
                  return '<div>' +
                      (item.name ? '<span class="nav-repo-name">' + escape(item.name) + '</span>' : '') + 
                      (item.username ? '<span class="author">' + "  by " + escape(item.username) + '</span>' : '') +
                  '</div>';
              },
              option: function(item, escape) {
                  return '<div>' +
                      '<span class="title">' +
                          '<span class="repo-name"><i class="icon ' + (item.fork ? 'fork' : 'source') + '"></i>' + escape(item.name) + ' ' + '</span>' +
                          '<span class="by">' + escape(item.username) + '</span>' +
                      '</span>' +
                      '<span class="description">' + escape(item.description) + '</span>' +
                      '<ul class="meta">' +
                          (item.language ? '<li class="language">' + escape(item.language) + '</li>' : '') +
                          '<li class="watchers"><span>' + escape(item.watchers) + '</span> stars</li>' +
                          '<li class="forks"><span>' + escape(item.forks) + '</span> forks</li>' +
                      '</ul>' +
                  '</div>';
              }
          },
          score: function(search) {
              var score = this.getScoreFunction(search);
              return function(item) {
                  return score(item) * (1 + Math.min(item.watchers / 100, 1));
              };
          },
          onItemAdd: function (value, item) {
              var repo_name = value.split("https://github.com/");
              $(".nav-write-btn").attr("href", host + "/thanks/" + repo_name[1] + "/");
              $(".nav-browse-btn").attr("href", host + "/list/" + repo_name[1] + "/");
          },
          load: function(query, callback) {
              if (!query.length) return callback();
              $.ajax({
                  url: 'https://api.github.com/legacy/repos/search/' + encodeURIComponent(query),
                  type: 'GET',
                  error: function() {
                      callback();
                  },
                  success: function(res) {
                      callback(res.repositories.slice(0, 20));
                  }
              });
          }
      });

  $(document).ready(function(){
      check_repo($(".nav-btn"), ".nav-repo-name"); 
  });
  </script>
  {% endblock %}
  {% block extra_scripts %}
  {% endblock %}

  </body>
  {% block footer %}
  <footer>
    <div class="base-footer container">
      <div class="row footer-div">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <a href="mailto:contact@thankyouopensource.com?subject=Suggestions"><h4>Suggestions?</h4></a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <a href="/why/"><h4>Why?</h4></a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <a target="_blank" href="https://github.com/Windsooon/thanks-open-source"><h4>Source Code</h4></a>
        </div>
      </div> <!-- end pure-g -->
    </div> <!-- end base-footer -->
  </footer>
  {% endblock %}
</html>
