{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/css_lib/nromalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/selectize.bootstrap3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}{% endblock %}
    </title>
    {% if not debug %}
    <script>
    </script>
    {% endif %}
  </head>

  {% block header %}
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Thanks</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}

  {% block nav %}

  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
  <script src="{% static 'js/js_lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
  <script src="{% static 'js/js_lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script>
  $('#select-repo').selectize({
      valueField: 'url',
      labelField: 'name',
      searchField: 'name',
      options: [],
      create: false,
      render: {
          option: function(item, escape) {
              return '<div>' +
                  '<span class="title">' +
                      '<span class="name"><i class="icon ' + (item.fork ? 'fork' : 'source') + '"></i>' + escape(item.name) + '</span>' +
                      '<span class="by">' + escape(item.username) + '</span>' +
                  '</span>' +
                  '<span class="description">' + escape(item.description) + '</span>' +
                  '<ul class="meta">' +
                      (item.language ? '<li class="language">' + escape(item.language) + '</li>' : '') +
                      '<li class="watchers"><span>' + escape(item.watchers) + '</span> watchers</li>' +
                      '<li class="forks"><span>' + escape(item.forks) + '</span> forks</li>' +
                  '</ul>' +
              '</div>';
          }
      },
      score: function(search) {
          var score = this.getScoreFunction(search);
          return function(item) {
              return score(item) * (1 + Math.min(item.watchers / 100, 1));
          };
      },
      load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
              url: 'https://api.github.com/legacy/repos/search/' + encodeURIComponent(query),
              type: 'GET',
              error: function() {
                  callback();
              },
              success: function(res) {
                  callback(res.repositories.slice(0, 20));
              }
          });
      }
  });
  </script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}

  </body>
  {% block footer %}
  <footer>
    <div class="base-footer container">
      <div class="row footer-div">
        <div class="col-md-4">
          <p>© 2017 - Unicooo</p>
        </div>
        <div class="col-md-4">
          <p>© 2017 - Unicooo</p>
        </div>
        <div class="col-md-4">
          <p>© 2017 - Unicooo</p>
        </div>
      </div> <!-- end pure-g -->
    </div> <!-- end base-footer -->
  </footer>
  {% endblock %}
</html>
