{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block styles %}
    <link rel="shortcut icon" href="{% static 'imgs/heart.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/css_lib/nromalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/selectize.bootstrap3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}{% endblock %}
    </title>
    {% if not debug %}
    <script>
    </script>
    {% endif %}
  </head>

  {% block header %}
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Thanks</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}

  {% block nav %}

  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
  <script src="{% static 'js/js_lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
  <script src="{% static 'js/js_lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}

  </body>
  {% block footer %}
  <footer>
    <div class="base-footer container">
      <div class="row footer-div">
        <div class="col-md-4">
          <p>© 2017 - Unicooo</p>
        </div>
        <div class="col-md-4">
          <p>© 2017 - Unicooo</p>
        </div>
        <div class="col-md-4">
          <p>© 2017 - Unicooo</p>
        </div>
      </div> <!-- end pure-g -->
    </div> <!-- end base-footer -->
  </footer>
  {% endblock %}
</html>
