{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/frontpage.css' %}" />
{% endblock %}

{% block title %}Thank You Open Source{% endblock %} 
{% block nav %}
<div class="search-div container">
  <div class="search-inside-div row">
    <div class="search-col col-md-12">
      <h1 id="header-thanks">Thank You, Open Source!</h1>
      <span id="header-details">"Programming is not the most important thing, love is!"</span>
      <div class="search-select-wrapper">
        <div class="control-group search-select col-md-8 col-md-offset-2">
          <select id="select-thanks" class="repositories" placeholder="Pick a repository..."></select>
        </div> <!-- end search-select -->
      </div> <!-- search-select-wrapper -->
      <div class="front-btn-div col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <a id="front-btn-w" class="col-xs-5 col-sm-3 col-md-3 col-md-offset-2 col-sm-offset-2" href=""><button type="button" class="front-btn front-btn-write">Write</button></a>
        <a id="front-btn-b" class="col-xs-5 col-xs-offset-2 col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-2" href=""><button type="button" class="front-btn">Browse</button></a>
      </div>
    </div> <!-- end search-col -->
  </div> <!-- search-inside-div row -->
</div> <!-- search-div container -->
{% endblock %}


{% block content %}
<div class="editor-container container">
  <div class="editor-row row">
  </div> <!-- end editor-row -->
</div> <!-- end editor-container -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/frontpage.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
<script>
$('#select-thanks').selectize({
      valueField: 'url',
      labelField: 'name',
      searchField: 'name',
      options: [],
      create: false,
      render: {
          item: function(item, escape) {
              return '<div>' +
                  (item.name ? '<span class="repo-name">' + escape(item.name) + '</span>' : '') + 
                  (item.username ? '<span class="author">' + "  by " + escape(item.username) + '</span>' : '') +
              '</div>';
          },
          option: function(item, escape) {
              return '<div>' +
                  '<span class="title">' +
                      '<span class="repo-name"><i class="icon ' + (item.fork ? 'fork' : 'source') + '"></i>' + escape(item.name) + ' ' + '</span>' +
                      '<span class="by">' + escape(item.username) + '</span>' +
                  '</span>' +
                  '<span class="description">' + escape(item.description) + '</span>' +
                  '<ul class="meta">' +
                      (item.language ? '<li class="language">' + escape(item.language) + '</li>' : '') +
                      '<li class="watchers"><span>' + escape(item.watchers) + '</span> stars</li>' +
                      '<li class="forks"><span>' + escape(item.forks) + '</span> forks</li>' +
                  '</ul>' +
              '</div>';
          }
      },
      score: function(search) {
          var score = this.getScoreFunction(search);
          return function(item) {
              return score(item) * (1 + Math.min(item.watchers / 100, 1));
          };
      },
      onItemAdd: function (value, item) {
          var repo_name = value.split("https://github.com/");
          $("#front-btn-w").attr("href", host + "/thanks/" + repo_name[1] + "/");
          $("#front-btn-b").attr("href", host + "/list/" + repo_name[1] + "/");
      },
      load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
              url: 'https://api.github.com/legacy/repos/search/' + encodeURIComponent(query),
              type: 'GET',
              error: function() {
                  callback();
              },
              success: function(res) {
                  callback(res.repositories.slice(0, 20));
              }
          });
      }
});
$("#select-thanks").parent().find(".selectize-input").css("line-height", "40px");
</script>
<script>
$(document).ready(function(){
    check_repo($(".front-btn"), ".repo-name");
    get_all_thanks_list($(".editor-row"));
});
</script>
{% endblock %}
