{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/css_lib/quill.snow.css' %}" />
<link rel="stylesheet" href="{% static 'css/thanks.css' %}" />
{% endblock %}

{% block title %}Thank you {{ title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="say-thank-div col-xs-10 col-xs-offset-1 col-sm-10 col-md-6 col-md-offset-3">
        <a href="/">
          <img id="thanks-svg" src="{% static 'imgs/thanks.svg' %}" alt="Thank You"/>
        </a>
        <div class="say-thank-content">
          <a target="_blank" id="say-thank-a" href="" <h1 class="say-thank-title">{{ title }}</h1></a>
          <h2 class="say-thank-details"></h2>
        </div> <!-- end say-thank-content -->
      </div> <!-- end say-thank-div -->
      <div class="editor-title">
        <input type="text" class="form-control recommend-title" placeholder="* Title" aria-describedby="basic-addon1">
      </div>
      <div id="editor-div">
        <div id="editor">
          <p>What is your story between {{ title }} (This letter must have at least 500 words). </p>
        </div> <!-- end editor -->
      </div> <!-- end editor-div -->
    </div> <!-- end col-md-10 -->
  </div> <!-- end row -->
</div> <!-- end container -->

<div class="container say-thank-bottom">
  <div class="row say-thank-row">
    <div class="input-group pull-right recommend-signature col-xs-6 col-sm-6 col-md-3">
      <img id="signature-img" src="{% static 'imgs/signature.png' %}" />
      <input type="text" class="form-control recommend-name" placeholder="* Your name" aria-describedby="basic-addon1">
    </div>
    <div class="clear"></div>
    <div class="input-group pull-right">
      <button type="button" class="btn btn-primary btn-lg submit-form">Submit</button>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/js_lib/quill.min.js' %}"></script>
<script src="{% static 'js/thanks.js' %}"></script>

<!-- Initialize Quill editor -->
<script>
    var title = "{{ title }}";
    get_repo_details(title);
    var toolbarOptions = [
        [
            {'list': 'ordered'}, 
            {'list': 'bullet'}, 
            {'align': [] },
            {'header': [1, 2, 3, 4, 5, 6, false]}
        ],
        ['link', 'code-block', 'blockquote'],
        ['bold', { 'color': [] }],
    ];
    var Link = Quill.import("formats/link");
    Link.sanitize = function(url) {
        if (url.match("^http")) {
            return url;
        }
        else
            return "http://" + url;
    
    }
    var editor = new Quill('#editor', {
       modules: {
         toolbar: toolbarOptions
       },
       theme: 'snow'
    });
    var title = "{{ title }}";
    $(".submit-form").on("click", function() {
        submit_form(editor, title);
    });
</script>
{% endblock %}
