{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/frontpage.css' %}" />
{% endblock %}

{% block title %}Why I build Thanks Open Source{% endblock %} 
{% block content %}
<div class="why-container container">
  <div class="row">
    <div class="why-div col-md-10 col-md-offset-1">
      <span id="why-h1-span"><h1 id="why-h1">Why I build Thank You Open Source</h1></span>
      <hr>
      <h4 id="why-p">
        I taught myself programming in my early 20s, when I suck at English and didn’t have any friend with programming skills since I majored in civil engineering. So most of the time I just learned from outdated and poorly translated docs and low-quality blogs. I was also in debt since my programming skills weren’t good enough to get me a great job, so I felt quite helpless at that time. </h4>
      <h4>
        One day I ran into a problem that didn’t know how to solve even after searching online for a whole day and felt quite frustrated. I asked the maintainers on the GitHub Issues page for help (I later realized that I should be using StackOverflow instead in such case). However, the maintainers there were so kind, so nice to answer my silly questions. See </h4>
      <span class="why-href"><a href="https://github.com/desandro/masonry/issues/824">fadeIn() breaking appended transition</a><span> and </span><a href="https://github.com/Alamofire/Alamofire/issues/1118">CSRF Failed when POST data using Alamofire</a></span>
      <h4>
          I am especially grateful to cnoon, the maintainer of Alamofire, and desandro,the maintainer of masonry, the first maintainer I meet, They just so nice and always willing to help others. Also, they're definitely some guys you wanna have a beer together. Thank you so much for helping me, a newbie,  to be a better programmer. I wanted to give something back to the community,so I later started to make contribution on Django and taught newbies in some NGO programming camps. I learned a lot from my students, and enjoyed the happiness teaching gave me that salary never could. Maybe this happiness is something we share and what we pass onto others through our passion and devotion. </h4>
        
      <h4>
        Most of the maintainers on the internet are such excellent programmers who could live an easier life without spending their spare time to build projects and help people they don't know and will probably never know, but they do, and year after years they continue to do so. Most of them don't want to add any ad to their projects to make profit, so I build this project to say thank you and provide them a place to promote their side-projects or websites. </h4>
      <h4>
          In the end, I would like to quote the great physicist Richard Feynman's words but changing "physics" into "programming" for my case here: </h4>
      <h4> 
        "[Programming] isn't the most important thing. Love is."
      </h4>
    </div> <!-- end why-div -->
  </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}
