{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/frontpage.css' %}" />
{% endblock %}

{% block title %}Thanks Open Source{% endblock %} 
{% block content %}
<div class="why-container container">
  <div class="row">
    <div class="why-div">
      <span id="why-h1-span"><h1 id="why-h1">Why I build Thanks Open Source</h1></span>
      <hr>
      <h4 id="why-p">
        I learned to program by myself at my 20s. I don't have any friends know programming since I major in civil engineering and  I also suck at English. So most of the time I learned from outdated translated docs and low-quality blogs. And also I'm in debt for can’t a great job in programming, so I feel quite helpless at that time. <br/>
        
        One day I meet a problem and don't know how to solve it after search online, I used Github issues to ask the maintainers for help (After that, I know I shouldn’t do that. Instead, I should use stackoverflow.com). After all, the maintainers are so kind, gentle to answer my silly questions. See
        
      </h4> <a href="https://github.com/desandro/masonry/issues/824">fadeIn() breaking appended transition</a><span> and </span><a href="https://github.com/Alamofire/Alamofire/issues/1118">CSRF Failed when POST data using Alamofire</a>
      <h4>
          Here I specially thanks cnoon( The maintainer of Alamofire ) and desandro( The maintainer of masonry ), You guys make me a better programmer. I start to contribute to Django and also join some NGO programming camp to teach newbies. I learned a lot from my students, and I also enjoy the happiness teaching gives me that salary can never give me.<br/>

          Most of the maintainers are excellent programmers, they can live an easy life without spent their spare time to build a project and help people they don't and will never know. <br/>
          But they did, and year after years. And most of  don't want to add the ad in their projects, so I build this project to say thank you and also let them have a place to recommend their side-projects or website. <br/>
          In the end, I quote Feynman's words and edit a little bit. <br/>

          "Programming is not the most important thing in the world, love is." <br/>
      </h4>
    </div> <!-- end why-div -->
  </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}
